.footer-container{
    padding: 30px 5px;
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

.footer-container p{
    color: rgb(113, 118, 123);
    font-size: 13px;
    font-weight: 400;
}


.footer-container .footer-link{
    cursor: pointer;
}

.footer-container .footer-link:hover{
    text-decoration:underline;
}

